@model IList<Model.SaleModel>
@{
    ViewBag.Title = "DataBase";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">
        <form method="get">
            <div class="form-inline">
                <label class="control-label">Manager name: </label>
                @Html.TextBox("Name")
                <input type="submit" value="Фильтр" class="btn btn-default" />
            </div>
        </form>
        <table class="table table-bordered text-center">
            <tr>
                <th class="text-center">
                    @Html.DisplayName("Manager last name")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Client name")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Product name")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Price")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Date")
                </th>
                <th class="text-center">
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManagerModel.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientModel.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductModel.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductModel.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfSale.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Create", "Create")
    </div>
</div>