@using System.Web.Mvc.Ajax
@{
    ViewBag.Title = "Sales";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Create", "Create")
}
<div>
    @using (Ajax.BeginForm("UpdateSalesTable", new AjaxOptions {UpdateTargetId = "sales-table-container"}))
    {
        <table class="table text-center">
            <tr>
                <th>
                    <label class="control-label">Manager name</label>
                </th>
                <th>
                    <label class="control-label">From date</label>
                </th>
                <th>
                    <label class="control-label">To date</label>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.TextBox("name")
                </th>
                <th>
                    <input type="date" name="fromDate">
                </th>
                <th>
                    <input type="date" name="toDate">
                </th>
                <th>
                    <input type="submit" value="Фильтр" id="filter" class="btn btn-default"/>
                </th>
            </tr>
        </table>
    }
    <div id="sales-table-container">
        <table id="sales-table" class="table table-bordered text-center">
        <tr>
            <th class="text-center">Manager last name</th>
            <th class="text-center">Client name</th>
            <th class="text-center">Product name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Date</th>
            @if (User.IsInRole("admin"))
            {
                <th></th>
            }
        </tr>
        </table>
        <div id="loading">
            <img class="center-block" src='@Url.Content("~/Content/loading_spinner.gif")'>
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
<script type="text/javascript">
     $(document).ready(function () {
         $.ajax({
                  type: 'GET',
                  url: '@Url.Action("UpdateSalesTable", "Sale")',
                  dataType: 'html',
                  success: function (data) {
                          $('#sales-table-container').html(data);
                          },
                  error: function (jQXHR, textStatus, errorThrown){
                          console.log('An error occurred while trying to contact the server for Sales: ' + jQXHR.status + ' ' + textStatus + ' ' + errorThrown);
                          }
                  });
     });
    </script>